*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button{
    background-color: black;
    color: white;
    width: 10em;
    height: 3em;
    margin-top: 2em;
}

button:hover{
    background-color: #c7a50d;
}

span{
    color: sienna;
}

.head1{
    text-align: center;
    margin-top: 2em;
}

.head2{
    text-align: center;
    padding: 2em;
    font-weight: 20px;
}

.head3{
    text-align: center;
    padding: 4em;
    font-weight: 20px;
    margin-bottom: 2em;
}

.footer{
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
}

